* {
	margin: 0;
	padding: 0;
}

body {
	font-size: 1.2em;
	color: #555;

	background-color: #fff;
}

p {
	padding: 0 0 20px 0;

	line-height: 1.7em;
}

h1, h2 {
	margin: 0 0 15px 0;
	padding: 15px 0 5px 0;

	font: normal 170% "century gothic", arial;

	color: #000;
}

h2 {
	font-size: 140%;
}

a, a:hover {
	outline: none;
	text-decoration: underline;
	color: #aeb002;
}

ul {
	margin: 2px 0 22px 17px;
}

ul li {
	margin: 0 0 6px 0;
	padding: 0 0 4px 5px;

	line-height: 1.5em;
}

input[type="search"] {
      -webkit-appearance: none;
    }

input[type="text"], input[type="password"], input[type="search"] {
	 width: 60%;
	 padding: 8px;

	 color: #5d5d5d;
}

input[type="search"] {
	 padding: 5px;
}

input, textarea {
	outline: none;
	border: none;
	border: solid 1px #f2f2f2;
}

header {
	height: 177px;

	font-size: 0.8em;

	background-color: darkslateblue;
}

.container {
	width: 900px;
	margin: 0 auto;
}

.main, .logo, .menubar, .site_content, .footer {
	margin: 0 auto;
}

.logo {
	width: 880px;
	padding-bottom: 40px;
}

.logo h1, .logo h2 {
	margin: 0 0 0 9px;

	font: normal 300$ 'century gothic', arial, sans-serif;
}

.logo_text h1, .logo_text h1 a, .logo_text h1 a:hover{
	padding: 22px 0 0 0;

	text-decoration: none;
	letter-spacing: 0.1em;

	color: #fff;
}

.logo_text h2 {
	padding: 4px 0 0 0;

	font-size: 0.9em;

	color: #999;
}

.menubar {
	width: 900px;
	height: 46px;
}

ul.menu {
	float: right;

	list-style: none;
}

ul.menu li {
	float: left;
	padding: 0 0 0 9px;
	margin: 1px 2px 0 0;
}

ul.menu li a {
	display: block;
	height: 20px;
	padding: 6px 35px 5px 28px;

	font: normal 100% 'trebuchet ms', sans-serif;
	color: #fff;
	text-decoration: none;
}

ul.menu li.selected a {
	color: #aeb002;
}

ul.menu li a:hover {
	color: #e4ec04;
}

main {
	margin: 20px auto 0 auto;

	background-color: #fff;
}

aside {
	float: right;
	width: 224px;
	clear: right;
}

.sidebar {
	float: right;
	width: 222px;
	padding: 5%;
	margin: 0 0 16px 0;

	border: solid 1px #f2f2f2;
	border-radius: 5px;
	background-color: #f9f9f9;
}

.btn {
	padding: 8px;

	background-color: #fff;

	cursor: pointer;
}

.sidebar h2 {
	color: #136cb2;
}

.lables_passreg_text {
	margin-top: 3%;
	margin-left: 2%;

	font-size: 0.7em;
}

.sidebar ul {
	margin: 0;

	list-style: none;
}

.sidebar ul li {
	margin: 0;
}

.sidebar .rating_sidebar {
	float: right;
}