/*==========  Desktop First Method  ==========*/

/* Large Devices, Wide Screens */
@media only screen and (max-width : 1200px) {

}

/* Medium Devices, Desktops */
@media only screen and (max-width : 992px) {
	.main_nav ul{
		float: none;
		margin: 20px 0;

		text-align: center;
	}

	.logo,
	.main_title {
		text-align: center;
	}

	.main_title {
		margin-top: 25px;
		margin-bottom: 20px;
	}

	.main_title img {
		position: static;

		margin-top: 35px;
		width: 100%;
	}

	.center {
		text-align: center;
	}

}

/* Small Devices, Tablets */
@media only screen and (max-width : 768px) {
	.main_nav ul {
		display: none;
		margin: 0;
	}

	.main_nav ul li {
		display: block;

		text-align: left;

		border-bottom: 1px solid black;
	}

	.main_nav ul li:first-child {
		border-top: 1px solid black;
	}

	.main_nav li a{
		padding: 5px;
		padding-left: 30px;
	}

	.main_nav {
		margin-bottom: 10px;

		background-color: #b12424;
	}

	.copyright {
		text-align: center;
	}
}

/* Extra Small Devices, Phones */
@media only screen and (max-width : 480px) {

}

/* Custom, iPhone Retina */
@media only screen and (max-width : 320px) {

}


/*==========  Mobile First Method  ==========*/

/* Custom, iPhone Retina */
@media only screen and (min-width : 320px) {

}

/* Extra Small Devices, Phones */
@media only screen and (min-width : 480px) {
	
}

/* Small Devices, Tablets */
@media only screen and (min-width : 768px) {
	.main_nav ul{
		display: block !important; 
	}
}

/* Medium Devices, Desktops */
@media only screen and (min-width : 992px) {
	
}

 /* Large Devices, Wide Screens */
@media only screen and (min-width : 1200px) {
	
}